{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password required" %}{% endblock %}

{% block body_class %}no-title{% endblock %}

{% block container_class %}container{% endblock %}

{% block content %}
{% include "errors.html" with errors=form.non_field_errors %}

<p>{% trans "You need a password to access this page." %}</p>

<form action="{{ action_url }}" method="post"{% if form.non_field_errors %} class="has-error"{% endif %}>{% csrf_token %}

    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        <label class="control-label sr-only" for="{{ form.password.id_for_label}}">{{ form.password.label }}</label>
        {% include "errors.html" with errors=form.password.errors %}
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control" />
        </div>
    </div>

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="{% trans 'Continue' %}" />
</form>
{% endblock %}
